﻿@model DCC.Models.ViewModel.DCViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Document Change Control</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DocProgress.DocumentNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DocProgress.DocumentNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DocProgress.DocumentNo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DocProgress.Inisiator, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DocProgress.Inisiator, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DocProgress.Inisiator, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DocProgress.Pabrik, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @*@Html.DropDownList(
                    "Pabrik",
                    new List<SelectListItem>
                    {
                        new SelectListItem { Text = "Silahkan Pilih", Value = "" },
                        new SelectListItem { Text = "DVL Gunung Putri", Value = "01" },
                        new SelectListItem { Text = "DVL Citereup",  Value = "02" },
                    },
                    new { @class = "textbox" })
                @Html.ValidationMessageFor(model => model.DocProgress.Pabrik, "", new { @class = "text-danger" })*@
                @{ 
                    var items = new List<SelectListItem>
                    {
                        new SelectListItem { Text = "DVL Gunung Putri", Value = "01" },
                        new SelectListItem { Text = "DVL Citereup",  Value = "02" },
                    };
                }
                @Html.DropDownListFor(model => model.DocProgress.Pabrik, items, "Silahkan Pilih", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DocProgress.Produk, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DocProgress.Produk, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DocProgress.Produk, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DocProgress.Deskripsi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.DocProgress.Deskripsi, 10, 40, htmlAttributes: new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.DocProgress.Deskripsi, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DocProgress.Dep_Terkait, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @for (int i = 0; i < Model.DepartmentTerkait.Count; i++)
                {
                    @Html.CheckBoxFor(m => Model.DepartmentTerkait[i].IsChecked, htmlAttributes: new { @class = "control-label col-md-1" })
                    @Model.DepartmentTerkait[i].DescDep
                    @Html.HiddenFor(m => Model.DepartmentTerkait[i].ValueDep)
                    @Html.HiddenFor(m => Model.DepartmentTerkait[i].DescDep)
                    <br />
                }
                
            </div>


        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}