﻿@model DCC.Models.ViewModel.DCViewModel

<div>
    <h4>DocumentProgress</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocProgress.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocProgress.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocProgress.DocumentNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocProgress.DocumentNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocProgress.Inisiator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocProgress.Inisiator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocProgress.Pabrik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocProgress.Pabrik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocProgress.Produk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocProgress.Produk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocProgress.Deskripsi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocProgress.Deskripsi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocProgress.Dep_Terkait)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocProgress.Dep_Terkait)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocProgress.App_Atasan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocProgress.App_Atasan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocProgress.App_Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocProgress.App_Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocProgress.App_DCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocProgress.App_DCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocProgress.App_QA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocProgress.App_QA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocProgress.Date_App_Atasan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocProgress.Date_App_Atasan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocProgress.Date_App_Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocProgress.Date_App_Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocProgress.Date_App_DC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocProgress.Date_App_DC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocProgress.Date_App_QA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocProgress.Date_App_QA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocProgress.IsApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocProgress.IsApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocProgress.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocProgress.DateModified)
        </dd>

    </dl>
</div>
