﻿@model DCC.Models.ViewModel.DCViewModel

@{
    ViewBag.Title = "Edit";

    var obj = (DCC.Models.ViewModel.UserViewModel)Session["user"];
}
@{
    var items = new List<SelectListItem>
    {
        new SelectListItem { Text = "Approve", Value = "01" },
        new SelectListItem { Text = "Reject",  Value = "02" },
    };
}

<h2>Approval</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DocProgress.Id)

        @{
            if (obj.Role == 1)
            {
                <div class="form-group">
                    @Html.Label("Approval Atasan", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.DropDownList(
                            "App_Atasan",
                            new List<SelectListItem>
                            {
                            new SelectListItem { Text = "Silahkan Pilih", Value = "" },
                            new SelectListItem { Text = "Approve", Value = "01" },
                            new SelectListItem { Text = "Reject",  Value = "02" },
                            },
                            new { @class = "textbox" })*@
                        @Html.DropDownListFor(model => model.DocProgress.App_Atasan, items, "Silahkan Pilih", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DocProgress.App_Atasan, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            else if (obj.Role == 2)
            {
                <div class="form-group">
                    @Html.Label("Approval Department", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.DropDownList(
        "App_Department",
        new List<SelectListItem>
        {
        new SelectListItem { Text = "Silahkan Pilih", Value = "" },
        new SelectListItem { Text = "Approve", Value = "01" },
        new SelectListItem { Text = "Reject",  Value = "02" },
        },
        new { @class = "textbox" })*@
                        @Html.DropDownListFor(model => model.DocProgress.App_Department, items, "Silahkan Pilih", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DocProgress.App_Department, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            else if (obj.Role == 3)
            {
                <div class="form-group">
                    @Html.Label("Approval DCC", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.DropDownList(
        "App_DCC",
        new List<SelectListItem>
        {
        new SelectListItem { Text = "Silahkan Pilih", Value = "" },
        new SelectListItem { Text = "Approve", Value = "01" },
        new SelectListItem { Text = "Reject",  Value = "02" },
        },
        new { @class = "textbox" })*@
                        @Html.DropDownListFor(model => model.DocProgress.App_DCC, items, "Silahkan Pilih", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DocProgress.App_DCC, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            else if (obj.Role == 4)
            {
                <div class="form-group">
                    @Html.Label("Approval QA", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.DropDownList(
        "App_QA",
        new List<SelectListItem>
        {
        new SelectListItem { Text = "Silahkan Pilih", Value = "" },
        new SelectListItem { Text = "Approve", Value = "01" },
        new SelectListItem { Text = "Reject",  Value = "02" },
        },
        new { @class = "textbox" })*@
                        @Html.DropDownListFor(model => model.DocProgress.App_QA, items, "Silahkan Pilih", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DocProgress.App_QA, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            else if (obj.Role == 10)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.DocProgress.Produk, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DocProgress.Produk, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DocProgress.Produk, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DocProgress.Deskripsi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.DocProgress.Deskripsi, 10, 40, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DocProgress.Deskripsi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DocProgress.Dep_Terkait, "Department Terkait", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @for (var i = 0; i < Model.DepartmentTerkait.Count; i++)
                        {
                            @Html.CheckBoxFor(m => Model.DepartmentTerkait[i].IsChecked, htmlAttributes: new { @class = "control-label col-md-1" })
                            @Model.DepartmentTerkait[i].DescDep
                            @Html.HiddenFor(m => Model.DepartmentTerkait[i].ValueDep)
                            @Html.HiddenFor(m => Model.DepartmentTerkait[i].DescDep)
                            <br />
                        }

                    </div>
                </div>

            }

        }


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}