﻿@model IEnumerable<DCC.Models.DocumentProgress>
@using DCC.Models;
@using DCC.Models.ViewModel;
@{
    ViewBag.Title = "Index";
    var obj = (UserViewModel)Session["user"];
}

<h2>Dashboard</h2>

<p>
    @Html.ActionLink("Buat baru", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocumentNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inisiator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pabrik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deskripsi)
        </th>
        <th>
            @Html.DisplayName("Departemen Terkait")
        </th>
        <th>
            @Html.DisplayName("Approval Atasan")
        </th>
        <th>
           @Html.DisplayName("Approval Departemen")
        </th>
        <th>
            @Html.DisplayName("Approval DCC")
        </th>
        <th>
            @Html.DisplayName("Approval QA")
        </th>
        <th>
            @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.Status })
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inisiator)
            </td>
            <td>
                @Html.DisplayName(Helper.GetValueDdlPabrik(item.Pabrik))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deskripsi)
            </td>
            <td>
                @Html.DisplayName(Helper.GetValueDdlDep(item.Dep_Terkait))
            </td>
            <td>
                @Html.DisplayName(Helper.GetValueDdl(item.App_Atasan))
            </td>
            <td>
                @Html.DisplayName(Helper.GetValueDdl(item.App_Department))
            </td>
            <td>
                @Html.DisplayName(Helper.GetValueDdl(item.App_DCC))
            </td>
            <td>
                @Html.DisplayName(Helper.GetValueDdl(item.App_QA))
            </td>
            <td>
                @Html.DisplayName(Helper.GetValueDdlStatus(item.IsApproved.ToString()))
            </td>

            <td>
               
               @{
                   if (obj != null)
                   {
                       if (obj.Role == 10 && item.IsApproved == 2)
                       {
                            @Html.ActionLink("Revisi", "Edit", new { id = item.Id });
                       }
                       if ((obj.Role == 1 || obj.Role == 2 || obj.Role == 3 || obj.Role == 4) && item.IsApproved != 1)
                       {
                           @Html.ActionLink("Approval", "Edit", new { id = item.Id });

                       }
                       if ((obj.Role == 3 || obj.Role == 4) && item.IsApproved == 1)
                       {
                           @Html.ActionLink("Print", "PrintPartialViewToPdf", new { id = item.Id });
                       }
                   }
            }



            </td>
        </tr>
                    }

</table>